<section>
  <div class="container py-2">
    <div class="h1 text-center text-dark" id="pageHeaderTitle"></div>
    <% @events.each do |event| %>
      <article class="postcard light blue">
        <a class="postcard__img_link" href="#">
          <%= image_tag event.poster.variant(resize: "1008x552"), class: "postcard__img"%>
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title blue"><%= link_to event.name, event_path(event) %></h1>
          <div class="postcard__subtitle small">
            <i class="fas fa-calendar-alt mr-2"></i><%= event.date.strftime("%e %B %Y") %> | <%= event.time.strftime("%l : %M  %p") %>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt"><%= event.venue %>, <%= event.city %></div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i><%= event.description.truncate_words(25) %></li>
          </ul>
        </div>
      </article>
    <% end %>
  </div>
</section>


