<p style="color: green"><%= notice %></p>
<div class = "d-flex">
  <div>
    <div class="jumbotron mt-5 container">
      <h1 class="display-4"><%= @event.name %></h1>
      <p class="lead"><%= @event.description %></p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>
  <div class="mt-5">
    <h1>this is basic info</h1>
    <h1>this is event guide</h1>
  </div>
</div>
<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>
  <%= button_to "Destroy this event", @event, method: :delete %>
</div>
