<p style="color: green"><%= notice %></p>
<div class = "d-flex">
  <div>
    <div class="jumbotron mt-5 container">
      <%= image_tag @event.poster.variant(resize: "1008x552") %>
      <p class="lead"><%= @event.description %></p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container lorem500</p>
    </div>
  </div>
  <div>
    <div class="mt-5">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= @event.name %></h5>
          <p class="card-text">Genre: <%= @event.genre %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= @event.date %></li>
          <li class="list-group-item"><%= @event.time %></li>
          <li class="list-group-item"><%= @event.venue %></li>
          <li class="list-group-item"><%= @event.city  %></li>
        </ul>
        <div class="card-body d-flex justify-content-between align-items-center">
          <h4><%= @event.ticket_price %></h4>
          <%= link_to "Book Now",checkout_create_path(@event.id), method: :post, remote: true, class:"btn btn-danger" %>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Events Guide</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= @event.guide.event_type %></li>
          <li class="list-group-item"><%= @event.guide.age %></li>
          <li class="list-group-item"><%= @event.guide.language %></li>
          <li class="list-group-item"><%= @event.guide.content  %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
