<p style="color: green"><%= notice %></p>
<div class = "d-flex">
  <div>
    <div class="jumbotron mt-5 container">
      <%= image_tag @event.poster.variant(resize: "1008x552") %>
      <hr class="my-4">
      <p class="lead"><%= @event.description %></p>
    </div>
  </div>
  <div>
    <div class="mt-5">
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title"><%= @event.name %></h5>
          <p class="card-text"><span class="fw-bold">Genre :</span><%= @event.genre %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="fw-bold">Date :</span> <%= @event.date %></li>
          <li class="list-group-item"><span class="fw-bold">Time :</span><%= @event.time %></li>
          <li class="list-group-item"><span class="fw-bold">Venue :</span> <%= @event.venue %></li>
          <li class="list-group-item"><span class="fw-bold">City :</span><%= @event.city  %></li>
        </ul>
        <div class="card-body d-flex justify-content-between align-items-center">
          <h4>₹<%= (@event.ticket_price/100).to_f %></h4>
          <% if current_user.has_role? :admin %>
            <%= link_to "Edit Event", edit_event_path, class:"btn btn-danger" %>
            <%= link_to "Delete Event", event_path, method: :delete, class:"btn btn-danger" %>
          <% end %>
          <% if @cart.include?(@event) %>
            <%= link_to "Remove from Cart",remove_from_cart_path(@event), method: :delete, class:"btn btn-danger" %>
          <% else %>
            <%= link_to "Add to Cart",add_to_cart_path(@event), method: :post, class:"btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><span class="fw-bold">Guide:</span></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="fw-bold">Event_Type :</span><%= @event.guide.event_type %></li>
          <li class="list-group-item"><span class="fw-bold">Recommende Age :</span><%= @event.guide.age %></li>
          <li class="list-group-item"><span class="fw-bold">Language :</span><%= @event.guide.language %></li>
          <li class="list-group-item"><span class="fw-bold">Content :</span> <%= @event.guide.content  %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
