<h2 class="my-5 ps-4">LATEST EVENTS</h2>
<div class="d-flex justify-content-around">
  <div class="card img-fluid">
    <img class="card-img-top" src="https://source.unsplash.com/random/1900x1100/?volunteer" alt="Card image" style="width: 12rem; opacity: 80%">
    <div class="card-img-overlay">
      <%= link_to "volunteer", volunteer_event_path, class:"card-title text-white font-weight-bold", style:"text-shadow: 2px 2px 2px black" %>
    </div>
  </div>
  <div class="card img-fluid">
    <img class="card-img-top" src="https://source.unsplash.com/random/1900x1100/?workout" alt="Card image" style="width: 12rem; opacity: 80%">
    <div class="card-img-overlay">
      <%= link_to "health & Wellness", health_event_path, class:"card-title text-white font-weight-bold", style:"text-shadow: 2px 2px 2px black" %>
    </div>
  </div>
  <div class="card img-fluid">
    <img class="card-img-top" src="https://source.unsplash.com/random/1900x1100/?courses" alt="Card image" style="width: 12rem; opacity: 80%">
    <div class="card-img-overlay">
      <%= link_to "Courses", course_event_path, class:"card-title text-white font-weight-bold", style:"text-shadow: 2px 2px 2px black" %>
    </div>
  </div>
  <div class="card img-fluid">
    <img class="card-img-top" src="https://source.unsplash.com/random/1900x1100/?theater" alt="Card image" style="width: 12rem; opacity: 80%">
    <div class="card-img-overlay">
      <%= link_to "Theatre & Art", theatre_event_path, class:"card-title text-white font-weight-bold", style:"text-shadow: 2px 2px 2px black" %>
    </div>
  </div>
  <div class="card img-fluid">
    <img class="card-img-top" src="https://source.unsplash.com/random/1900x1100/?dance" alt="Card image" style="width: 12rem; opacity: 80%">
    <div class="card-img-overlay">
      <%= link_to "Dance", dance_event_path, class:"card-title text-white font-weight-bold", style:"text-shadow: 2px 2px 2px black" %>
    </div>
  </div>
  <div class="card img-fluid">
    <img class="card-img-top" src="https://source.unsplash.com/random/1900x1100/?workshop" alt="Card image" style="width: 12rem; opacity: 80%">
    <div class="card-img-overlay">
      <%= link_to "Workshop", workshop_event_path, class:"card-title text-white font-weight-bold", style:"text-shadow: 2px 2px 2px black" %>
    </div>
  </div>
</div>
